{% load l10n %}

{% if page_obj %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Самосвалы</h4>
        <div class="table-responsive">
          <table class="table align-middle table-nowrap mb-0">
            <thead class="table-light">
            <tr>
              <th class="align-middle">Бортовой номер</th>
              <th class="align-middle">Модель</th>
              <th class="align-middle">Макс. грузоподъёмность,  т.</th>
              <th class="align-middle">Текущий вес,  т.</th>
              <th class="align-middle">Перегруз, %</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            {% for truck in page_obj %}
            <tr>
              <td>{{ truck.side_number|upper }}</td>
              <td>{{ truck.model.name }}</td>
              <td>{{ truck.model.max_weight_capacity }}</td>
              <td>{{ truck.current_cargo_weight }}</td>
              <td>{{ truck.overload|floatformat|default:"Нет перегрузки" }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- end table-responsive -->
        {% if page_obj.has_previous or page_obj.has_next %}
        <div class="row">
          <div class="col-lg-12">
            <ul class="pagination pagination-rounded justify-content-center mt-4">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}&from_dt={{ form.from_dt.value }}&to_dt={{ form.to_dt.value }}&submitted=1">&laquo;</a>
              </li>
              {% endif %}
              {% for n in page_obj.paginator.page_range %}
              {% if page_obj.number == n %}
              <li class="page-item active">
                <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
              </li>
              {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
              <li class="page-item"><a class="page-link"
                                       href="?page={{ n }}&from_dt={{ form.from_dt.value }}&to_dt={{ form.to_dt.value }}&submitted=1">{{ n }}</a>
              </li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.next_page_number }}&from_dt={{ form.from_dt.value }}&to_dt={{ form.to_dt.value }}&submitted=1"
                   aria-label="Next">&raquo;</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Самосвалы не найдены</h4>
      </div>
    </div>
  </div>
</div>
{% endif %}
